app.exe
.idea
.vs
CesiProgSys/bin
CesiprogSys/obj
TestProjectCesiProgSys/bin
TestProjectCesiProgSys/obj
LogicielMétier/DetectLogicielMetier/DetectLogicielMetier/bin
LogicielMétier/DetectLogicielMetier/DetectLogicielMetier/obj
LogicielMétier/DetectLogicielMetier/TestDetectLogicielMetier/bin
LogicielMétier/DetectLogicielMetier/TestDetectLogicielMetier/obj
ViewAvalonia/bin
ViewAvalonia/obj